@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);

/* body, html{
margin: 0px;
padding: 0px;
} */

#side{
width: 300px;
height: 685px;
background-color: rgb(241, 240, 240);
/* background-color: red; */
/* position: fixed; */
}
#house{
/* border: 2px solid black; */
height: 430px;
width: 307px;
overflow-y: scroll;
}
#down{
width: 100%;
height: 95px;
background-color: rgb(0, 162, 255);
display: flex;
align-items: center;
margin-top: -18px;
/* position: fixed; */
/* top: 685px; */
}

#content{
height: 650px;
width: 81%;
margin-top: -790px;
margin-left: 300px;
background-color: white;
overflow-y:scroll;
}
#appear{
margin-right: 50px;
margin-left: 15px;
font-weight: 700;
text-align: justify;
}
#appearing{
color: rgb(117, 111, 111);
}
#dice{
text-align: justify;
font-weight: 700;
} */
#dice1{
color: rgb(117, 111, 111);
}

#result{
height: 650px;
width: 81%;
/* border: 2px solid black; */
margin-top: -790px;
margin-left: 300px;
background-color: white;
overflow-y:scroll;
}

#son{
margin-left: 20px;
margin-bottom: 30px;
}
#screen{
margin-left: -10px;
width: 100%;
}

#for{
margin-top: 40px;
margin-left: 20px;
font-size: 30px;
margin-bottom: 25px;
font-weight: 100;
}

#incorrect{
height: 650px;
width: 81%;
/* border: 2px solid black; */
margin-top: -790px;
margin-left: 300px;
background-color: white;
overflow-y:scroll;
display: none;
}
#inc{
margin-top: 40px;
margin-left: 20px;
font-size: 30px;
margin-bottom: 25px;
font-weight: 100;
}
#inc1{
margin-left: 500px;
margin-bottom: 20px;
}
#inc2{
margin-left: 300px;
font-size: 20px;
margin-bottom: 20px;
}
#else{
font-size: 15px;
margin-left: 400px;
}

#my{
margin-top: 40px;
margin-left: 20px;
font-size: 30px;
margin-bottom: 25px;
font-weight: 100;
}


button{
border: none;
background: none;
}

#flex{
margin-left: 20px;
margin-bottom: 10px;
}

#songs{
margin-right: 20px;
font-size: 20px;
}
#artists{
margin-right: 20px;
font-size: 20px;
}
#albums{
font-size: 20px;
}

#border{
width: 97%;
border: 1px solid rgb(199, 196, 196);
margin-left: 20px;
margin-bottom: 20px;
}




#gro{
display: flex;
margin-left: 10px;
margin-bottom: 20px;
}

#mico{
margin-top: 10px;
margin-right: 20px;
display: none;
}

#grono{
margin-top: 10px;
}

#bars{
margin-left: 10px;
font-size: 20px;
margin-bottom: 10px;
}

#inp{
margin-left: 10px;
margin-bottom: 8px;
}
#put{
padding-left: 10px;
width: 93%;
height: 40px;
border-radius: 5px;
border: none;
}

#mag{
position: absolute;
left: 260px;
top: 100px;
}
#mag:hover{
color: blue;
}
::placeholder{
font-size: 15px;
}
#fam{
display: flex;
/* margin-bottom: 0px; */
align-items: center;
width: 100%;
height: 50px;
/* border: 1px solid red; */
}
#fami{
margin-right: 10px;
margin-left: 10px;
}

#recent{
display: flex;
/* margin-bottom: 10px; */
align-items: center;
width: 100%;
height: 50px;
/* border: 1px solid red; */
}
#rec{
margin-right: 10px;
margin-left: 10px;
}

#now{
display: flex;
/* margin-bottom: 5px; */
align-items: center;
width: 100%;
height: 50px;
/* border: 1px solid red; */
}
#no{
margin-right: 10px;
margin-left: 10px;
}


#recent:hover{
background-color: gray;
}
#fam:hover{
background-color: gray;
}

#now:hover{
background-color: gray;
}
#playl{
display: flex;
width: 80%;
height: 50px;
align-items: center;
}
#lis{
margin-left: 10px;
margin-right: 10px;

}
#playl:hover{
background-color: gray;
}
#plusa{
height: 50px;
width: 50px;
display: flex;
align-items: center;
margin-top: -50px;
margin-left: 240px;
justify-content: center;
font-size: 20px;
}
#plusa:hover{
background-color: gray;
}

#der{
width: 93%;
border: 1px solid rgb(151, 140, 140);
margin-left: 10px;
/* margin-bottom: 5px; */
}

#playme{
display: flex;
width: 82%;
height: 50px;
align-items: center;

}
#playme1{
margin-left: 10px;
margin-right: 10px;
}
#playme:hover{
background-color:gray ;
}
#marking{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    margin-top: -50px;
    margin-left: 240px;
    justify-content: center;
    font-size: 20px;
    color: red;
    }
    #marking:hover{
    background-color: gray;
    }

#showplaylist{
height: 230px;
}

#line{
border: 1px solid gray;
width: 93%;
margin-left: 10px;
}
#could{
display: flex;
/* margin-bottom: 5px; */
align-items: center;
width: 80%;
height: 50px;
}
#could:hover{
background-color:gray ;
}
#sign{
margin-left: 10px;
margin-right: 10px;
}
#gear{
height: 50px;
width: 50px;
display: flex;
align-items: center;
margin-top: -50px;
margin-left: 240px;
justify-content: center;
font-size: 20px;
}

#gear:hover{
background-color: gray;
}
#sportify{
width: 100%;
height: 50px;
background-color: orangered;
display: flex;
align-items: center;
}
#tify{
margin-left: 10px;
margin-right: 10px;
}
#stream{
color: white;
}

#get{
color: white;
display: none;
}
#shuff{
margin-left: 20px;
}
#date{
color: blue;
margin-left: -10px;
}
#shuffle{
margin-bottom: 20px;
}

#unk{
margin-right: 70px;
}
#check{
height: 20px;
width: 20px;
margin-left: 10px;
}
.play{
/* margin-left: -8px; */
}




/* #con{
width: 100px;
background-color: green;
height: 95px;
} */

#cono{
width: 100px;
background-color: white;
height: 95px;
display: flex;
align-items: center;
justify-content: center;
}
#squaro{
border: 2px solid black;
height: 40px;
width: 40px;
display: flex;
align-items: center;
justify-content: center;
}
#circlo{
border: 2px solid black;
height: 30px;
width: 30px;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
}
#doto{
border: 2px solid black;
}


#text{
width: 300px;
height: 95px ;
margin-right: 300px;
background-color:rgb(0, 140, 255);

}
#title{
color: white;
margin-top: 20px;
font-size: 15px;
height: 30px;
}
#art{
color: white;
margin-top: 5px;
font-size: 20px;
font-weight: 700;
}
#controls{
 display: flex;
 margin-top: -40px;
}
#shu{
margin-top: 20px;
font-size: 20px;
margin-right: 30px;
color: white;
height: 30px;
width: 30px;
border-radius: 100%;
background-color:rgb(0, 162, 255);
display: flex;
align-items: center;
justify-content: center;

}
#backward{
margin-top: 21px;
font-size: 25px;
margin-right: 30px;
color: white;
height: 30px;
width: 30px;
border-radius: 100%;
background-color:rgb(0, 162, 255);
display: flex;
align-items: center;
justify-content: center;
}
#faplay{
margin-top: 11px;
font-size: 25px;
margin-right: 20px;
color: white;
height: 50px;
width: 50px;
border-radius: 100%;
background-color:rgb(0, 162, 255);
display: flex;
align-items: center;
justify-content: center;
border: 1px solid white;
/* display: none; */
}
#fapause{
margin-top: 11px;
font-size: 25px;
margin-right: 20px;
color: white;
height: 50px;
width: 50px;
border-radius: 100%;
background-color:rgb(0, 162, 255);
display: flex;
align-items: center;
justify-content: center;
border: 1px solid white;
display: none;
}
#forward{
margin-top: 21px;
font-size: 25px;
color: white;
height: 30px;
width: 30px;
border-radius: 100%;
background-color:rgb(0, 162, 255);
display: flex;
align-items: center;
justify-content: center;
margin-right: 20px;
}
#repeat1{
margin-top: 21px;
font-size: 20px;
color: white;
height: 30px;
width: 30px;
border-radius: 100%;
background-color:rgb(0, 162, 255);
display: flex;
align-items: center;
justify-content: center;
}

#repeatone{
margin-top: 21px;
font-size: 20px;
color: white;
height: 30px;
width: 30px;
border-radius: 100%;
background-color:rgb(0, 162, 255);
display: flex;
align-items: center;
justify-content: center;
display: none;
}
#one{
font-size: 13px;
margin-left: -14px;
margin-top: -10px;
}

#shu:hover{
background-color: rgb(87, 87, 248);
}
#backward:hover{
background-color: rgb(87, 87, 248);
}
#faplay:hover{
background-color: rgb(87, 87, 248);
}
#forward:hover{
background-color: rgb(87, 87, 248);
}
#repeat1:hover{
background-color: rgb(87, 87, 248);
}
#repeatone:hover{
background-color: rgb(87, 87, 248);
}

#disp{
margin-left: 20px;
display: flex;
width: 97%;
height: 60px;
align-items: center;
background-color: rgb(241, 240, 240);
margin-bottom: 5px;
}


#disp:hover{
background-color: rgb(182, 182, 187);
}

#input1{
/* height: 40px; */
width: 250px;
/* border: 1px solid black; */
margin-left: 20px;
display: flex;
align-items: center;
/* margin-right: 10px; */
font-size: 14px;
}
#pla{
margin-right: 50px;
}
#plu{
    margin-right: 50px;
}

#unknown{
margin-right: 120px;
}

#volume{
display: flex;
margin-top: 25px;
margin-left: 350px;
}
#vol{
color: white;
margin-top: 5px;
margin-right: 10px;
}

#vol1{
color: white;
margin-top: 5px;
margin-right: 10px;
display: none;
}
#sliding{
height: 3px;
background-color: red;
margin-right: 10px;
}
#starting{
margin-right: 10px;
color: white;
margin-top: 5px;
}
#duration{
margin-top: 50px;
margin-left: -970px;
display: flex;
}
#slider{
height: 3px;
width: 550px;
margin-right: 10px;
}
#start{
margin-right: 10px;
color: white;
}
#end{
color: white;
}
#up{
height: 750px;
width: 100%;
background-color: black;

}


    #arrow{
    height: 30px;
    width: 30px;
    background-color: rgb(24, 24, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    }

    #noun{
    width: 70%;
    height: 110px;
    border: 1px solid black;
    margin-left: 140px;
    /* margin-top: -110px; */
    display: grid;
    align-items: center;
    }
    #nowplaying{
    height: 50px;
    width: 90%;
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    }

    #magic{
    margin-top: -20px;
    font-weight: 100;
    color: white;
    }
    #durationm{
    color: white;
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    margin-bottom: 20px;
    }
    #sliderm{
    width: 1450px;
    margin-right: 10px;
    }

    #controlsm{
    color: white;
    margin-left: 20px;
    }

    .ford{
    color: white;
    margin-right: 10px;
    }
    #mark2{
    display: none;
    }
    #repeatonem{
    display: none;
    }
    #fapausem{
    display: none;
    }

.vord{
color: blue;
font-size: 15px;
}
.okayed{
background-color: black;
margin-left:0px;
margin-top: 50px;
}
#vor{
width: 550px;
margin-right: 10px;
margin-left: 50px;
}
#vor2{
margin-right: 250px;
}
#vor1{
margin-right: 250px;
}

#dispp{
margin-left: 40px;
display: flex;
width: 99%;
height: 50px;
align-items: center;
color: blue;
}
#dispp:hover{
background-color: rgb(22, 18, 18);
}

#playlist{
height: 650px;
width: 81%;
/* border: 2px solid black; */
margin-top: -790px;
margin-left: 300px;
background-color: white;
overflow-y:scroll;
}

#laylist{
margin-top: 40px;
margin-left: 20px;
font-size: 30px;
margin-bottom: 25px;
font-weight: 100;
}
#liquid{
margin-left: 20px;
}
#laylist2{
margin-right: 20px;
}
#laylist4{
margin-left: -10px;
color: rgb(0, 68, 255);
}

#nothing{
margin-top: 40px;
margin-left: 20px;
font-size: 25px;
font-weight: 400;
}

#body{
height: 520px;
width: 300px;
}

/* #container{
height: 600px;
width: 500px;
} */

#contain{
height: 50px;
width: 400px;
margin-top: 200px;
margin-left: 30px;
margin-top: 20px;
margin-bottom: 20px;
}
#footer{
display: grid;
}
#but1{
/* margin-left: -320px; */
width: 300px;
margin-left: 80px;
margin-bottom: 10px;
}
#but2{
/* margin-left: -320px; */
width: 300px;
margin-left: 80px;
}
#by{
margin-left: 160px;
font-weight: 100px;
margin-bottom: 50px;
}
#icon{
height: 200px;
width: 200px;
background-color: rgb(152, 152, 248);
margin-left: 120px;
margin-top: 40px;
border-radius: 10px;
}
#myModal{
margin-top: 50px;
display: none;
}
#slid{
font-size: 40px;
color: white;
}

#addlist1{
height: 300px;
width: 81%;
/* border: 2px solid black; */
margin-top: -790px;
margin-left: 300px;
background-color: black;
}
#addlist2{
height: 390px;
width: 81%;
/* border: 2px solid black; */
margin-left: 300px;
background-color: wheat;
}

#init{
font-size: 120px;
margin-top: 70px;
margin-left: 50px;
color: white;
}

#go1{
margin-left: 300px;
margin-top: -180px;
font-size: 25px;
font-weight: 100px;
margin-bottom: 20px;
color: white;
}

#go2{
margin-left: 300px;
color: white;
margin-bottom: 130px;
}
#go3{
display: flex;
margin-left: 300px;
color: white;
}
#go5{
margin-right: 30px;
}
#go6{
margin-right: 30px;
}
#go7{
margin-right: 30px;
}
#go8{
margin-right: 30px;
}

#backer{
font-size: 25px;
height: 30px;
width: 30px;
color: white;
}
#tru{
margin-top: 0px;
}

#what{
margin-top: -320px;
margin-left: 320px;
margin-bottom: 20px;
font-size: 20px;
}
#boxo{
margin-left: 320px;
}
#what1{
margin-left: 80px;
margin-top: -50px;
}
#what2{
color: rgb(137, 137, 240);
}


#playlist1{
    height: 650px;
    width: 81%;
    /* border: 2px solid black; */
    margin-top: -790px;
    margin-left: 300px;
    background-color: white;
    overflow-y:scroll;
    }
    
    #laylist1{
    margin-top: 40px;
    margin-left: 20px;
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 100;
    }
    #liquid1{
    margin-left: 20px;
    }
    #laylist21{
    margin-right: 20px;
    }
    #laylist41{
    margin-left: -10px;
    color: rgb(0, 68, 255);
    }
    
    #nothing1{
    margin-top: 40px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 400;
    }
    #shownew{
    display: flex;
    }

#king{
height: 780px;
width: 100%;
background-color: blue;
display: flex;
align-items: center;
justify-content: center;
}

#king2{
height: 150px;
border: none;
background: none;
transition: 1s all;
animation-name: move;
animation-duration: 5s;
animation-iteration-count: infinite;
}

@keyframes move{
0%{
transform: rotate(0deg);
}
25%{
transform: rotate(25deg);
}
50%{
transform: rotate(50deg);
}
75%{
transform: rotate(75deg);
}
100%{
transform: rotate(100deg);
}
}

/* #down{
background-color: rgb(124, 117, 117);
}
#text{
background-color: rgb(124, 117, 117);
} */

#desp{
margin-top:10px;
margin-left: 20px;
display: flex;
width: 97%;
height: 60px;
align-items: center;
background-color: rgb(241, 240, 240);
margin-bottom: 5px;
}



#showbar{
width: 97%;
height: 100px;
/* border: 1px solid black; */
margin-left: 20px;
background-color: burlywood;
margin-bottom: 3px;
}
#naming{
width: 20%;
height: 80px;
font-size: 20px;
display: flex;
align-items: center;
color: white;

}
#iyke{
display: flex;
margin-left: 35%;
margin-top: -55px;
font-size: 20px;
}
.iyke1{
margin-right: 10%;
}
#lumin{
margin-left: 80%;
margin-top: -20px;
}
#cello{
width: 30%;
margin-left: 33%;
margin-top: 20px;
}
#iyke2{
display: none;
}

#showicon{
height: 70px;
width: 97%;
align-items: center;
display: flex;
justify-content: space-around;
background-color: burlywood;
/* color: white; */
margin-left: 20px;
}

@media(max-width:390px){
    #flat{
    display: none;
    }
    #groovy{
    display: none;
    }
    #responsive{
    display: block;
    }
    #desp{
    width:97%;
    margin: 0px;
    margin-top: 5px;
    margin-left: 1%;
    height: 50px;
 }
#showbar, #showicon{
margin: 0px;
width: 98%;

}
#lumin{
margin-left: 70%;
}
#lumo{
width: 70%;
margin-left: 20px;
}
#naming{
font-size: 10px;
}
}
@media(max-width:713px){
#lumin{
margin-left: 70%;
}
#desp{
 width: 98%;
 margin: 0px;  
 margin-top: 6px; 
 margin-left: 1%;
}
#showbar, #showicon{
margin: 0px;
}
}

@media(max-width:510px){
    #lumin{
    margin-left: 70%;
    }
}

@media(max-width:700px){
    #flat{
    display: none;
    }
    #groovy{
    display: none;
    }
    #responsive{
    display: block;
    }
    #desp{
    width:97%;
    margin: 0px;
    margin-top: 5px;
    margin-left: 1%;
    height: 50px;
 }
#showbar, #showicon{
margin: 0px;
width: 98%;

}
#lumin{
margin-left: 70%;
}
#lumo{
width: 70%;
margin-left: 20px;
}
#naming{
font-size: 10px;
}
}












